{# src/Nms/AdminBundle/Resources/views/Security/login.html.twig #}
{% extends 'NmsAdminBundle::layout.html.twig' %}

{% set page_title = '' %}

{% block title %}
{{ parent() }} {{page_title }}
{% endblock %}

{% block stylesheets %}
{#<link href="/theme/css/pages/login.css" rel="stylesheet" type="text/css"/>#}
{% endblock %}

{% block javascripts %}
{#<script type="text/javascript" src="/theme/scripts/login.js"></script>#}
{#<script type="text/javascript">#}
{#    Login.init();#}
{#</script>#}
{% endblock %}

{% block pagetitle %} {{page_title}} {% endblock %}

{% block body %}
<div class="container">
	<div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <form class="reg-page" action="{{ path("login_check") }}" method="post">
                <div class="reg-header">
                    <h2>Login to your account</h2>
                </div>

                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                    <input type="text" placeholder="Username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                    <input type="password" placeholder="Password" class="form-control" name="_password" required="required" />
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="checkbox"><input type="checkbox" name="_remember_me" value="on" > Stay signed in</label>
                    </div>
                    <div class="col-md-6">
                        <button class="btn-u pull-right" type="submit">Login</button>
                    </div>
                </div>
                <hr>
                <h4>Forget your Password ?</h4>
                <p>no worries, <a class="color-green" href="#">click here</a> to reset your password.</p>
            </form>
        </div>
    </div><!--/row-->
</div><!--/container-->

{% endblock body %}
