{# src/Boheme/CafeBundle/Resources/views/Wine/index.html.twig #}
{% extends 'NmsAdminBundle::layout.html.twig' %}

{% set page_title = 'Wine list' %}

{% block title %}
{{ parent() }} {{ page_title }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block pagetitle %}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block body -%}
<!--=== Content Part ===-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-grey margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon-glass"></i> {{ page_title }}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-9">
                    {{ knp_pagination_filter(pagination, fields) }}
                    </div>
                    <div class="col-md-3">
                        <div class="pull-right">
                            <a href="{{ path('wine_new') }}" class="btn btn-u-green"><i class="icon-plus"></i> Add</a>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                        {# sorting of properties based on query components #}
                            <th>{{ knp_pagination_sortable(pagination, 'Title', 'w.title') }}</th>
                            <th{% if pagination.isSorted('w.note') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Notes', 'w.note') }}</th>
                            <th>Variety</th>
                            <th>Region</th>
                            <th>Updated</th>
                            <th>Updated By</th>
                            <th style="width:100px">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for wine in pagination %}
                        <tr>
                            <td>{{ wine.title }}</td>
                            <td>{{ wine.note }}</td>
                            <td>{{ wine.variety }}</td>
                            <td>{{ wine.region }}</td>
                            <td>{% if wine.updated %}{{ wine.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ wine.updatedby }}</td>
                            <td>
                                <a href="{{ path('wine_show', { 'id': wine.id }) }}" class="btn btn-info btn-xs">view</a>
                                <a href="{{ path('wine_edit', { 'id': wine.id }) }}" class="btn btn-primary btn-xs">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-6">
                        <div class="dataTables_info" id="record_info">{{pagination.TotalItemCount}} records in total.</div>
                    </div>
                    <div class="col-md-6">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Content Part ===-->
{% endblock %}
