{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Wine list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Note</th>
                <th>Glassvolume</th>
                <th>Glassprice</th>
                <th>Carafevolume</th>
                <th>Carafeprice</th>
                <th>Bottlevolume</th>
                <th>Bottleprice</th>
                <th>Created</th>
                <th>Createdby</th>
                <th>Updated</th>
                <th>Updatedby</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('wine_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.note }}</td>
                <td>{{ entity.glassvolume }}</td>
                <td>{{ entity.glassprice }}</td>
                <td>{{ entity.carafevolume }}</td>
                <td>{{ entity.carafeprice }}</td>
                <td>{{ entity.bottlevolume }}</td>
                <td>{{ entity.bottleprice }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.createdby }}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.updatedby }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('wine_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('wine_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('wine_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
