{# src/Boheme/CafeBundle/Resources/views/Default/contact.html.twig #}
{% extends 'NmsAdminBundle::layout.html.twig' %}

{% set page_title = 'Contact Us' %}

{% block title %}
{{ parent() }} {{ page_title }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('theme/assets/css/pages/page_contact.css')}}">
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{{asset('theme/assets/plugins/gmap/gmap.js')}}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{asset('js/pages/contact.js')}}"></script>

{% endblock %}

{% block jqueryinit %}
Contact.initMap();
{% endblock %}

{% block pagetitle %}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block body -%}

<!--=== Content Part ===-->
<div class="container">
    <div class="row margin-bottom-30">
        <div class="col-md-9 mb-margin-bottom-30">
            <!-- Google Map -->
            <div id="map" class="map map-box map-box-space margin-bottom-40">
            </div><!---/map-->
            <!-- End Google Map -->

            <p>Nestled on leafy Kellett Street in Potts Point, Café Boheme serves chic French cuisine.  With a focus on organic and local produce, Owner Chef Darren Taylor brings his Cordon Bleu talents to the edgy precinct, offering an array of house-made fare to enjoy at the café or at home. </p>
            <form>
                <label>Name</label>
                <div class="row margin-bottom-20">
                    <div class="col-md-7 col-md-offset-0">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <label>Email <span class="color-red">*</span></label>
                <div class="row margin-bottom-20">
                    <div class="col-md-7 col-md-offset-0">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <label>Message</label>
                <div class="row margin-bottom-20">
                    <div class="col-md-11 col-md-offset-0">
                        <textarea rows="8" class="form-control"></textarea>
                    </div>
                </div>

                <p><button type="submit" class="btn-u">Send Message</button></p>
            </form>
        </div><!--/col-md-9-->

        <div class="col-md-3">
            <!-- Contacts -->
            <div class="headline"><h2>Contacts</h2></div>
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="#"><i class="icon-home"></i>3 Kellet Streat, Potts Point </a></li>
                <li><a href="#"><i class="icon-envelope-alt"></i>info@cafeboheme.com.au</a></li>
                <li><a href="#"><i class="icon-phone-sign"></i>+61 2 9331 0102</a></li>
                <li><a href="#"><i class="icon-globe"></i>http://www.cafeboheme.com.au</a></li>
            </ul>

            <!-- Business Hours -->
            <div class="headline"><h2>Business Hours</h2></div>
            <ul class="list-unstyled margin-bottom-30">
                <li><strong>Wed/Thurs:</strong> 5pm to late</li>
                <li><strong>Friday:</strong> 12pm to late, lunch/dinner</li>
                <li><strong>Saturday:</strong> 8am to late, all day breakfast/lunch/dinner</li>
                <li><strong>Sunday:</strong> 8am to 4pm, all day breakfast/lunch</li>
                <li><strong>Monday-Tuesday:</strong> Closed</li>
            </ul>

            <!-- Why we are? -->
            <div class="headline"><h2>Café Boheme</h2></div>
            <p> is the new addition to the Potts Point neighbourhood, making an urban Parisian style splash. </p><br />
        </div><!--/col-md-3-->
    </div><!--/row-->

</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}
