{# src/Boheme/CafeBundle/Resources/views/Default/wine.html.twig #}
{% extends 'NmsAdminBundle::layout.html.twig' %}

{% set page_title = 'Wine' %}

{% block title %}
{{ parent() }} {{ page_title }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block jqueryinit %}
{% endblock %}

{% block pagetitle %}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block body -%}

{% set prevtype=''%}
{% set prevvariety=''%}

<!--=== Content Part ===-->
<div class="container">
    <div class="row margin-bottom-30">

        <div class="col-md-4">
            <!-- Contacts -->
            <img src="{{asset('image/wine.png')}}" alt="" />

        </div><!--/col-md-3-->
        <div class="col-md-8 mb-margin-bottom-30">
            <div class="headline"><h2>{{ page_title }}</h2></div>

            <table class="table">
                <thead>
                    <tr>
                    {# sorting of properties based on query components #}
                        <th>Description</th>
                        <th>Glass</th>
                        <th>carafe</th>
                        <th>Bottle</th>
                    </tr>
                </thead>

                <tbody>
                    {% for wine in pagination %}
                    {% if wine.type.title != prevtype %}
                    <tr><td><h4>{{wine.type.title}}</h4></td></tr>
                        {% set prevtype = wine.type.title %}
                    {% endif %}
{#                    {% if wine.variety.title != prevvariety %}
                    <tr><td><b>{{wine.variety.title}}</b></td></tr>
                        {% set prevvariety = wine.variety.title %}
                    {% endif %}
#}                    <tr>
                        <td>{{ wine.title }} {{ wine.note }} {{ wine.region }} {{ wine.variety }}</td>
                        <td class="text-right">{% if wine.glassprice > 0 %}{{ wine.glassprice }} {% endif %}</td>
                        <td class="text-right">{% if wine.carafeprice > 0 %}{{ wine.carafeprice }} {% endif %}</td>
                        <td class="text-right">{% if wine.bottleprice > 0 %}{{ wine.bottleprice }} {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>

        </div><!--/col-md-9-->

    </div><!--/row-->

</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}
