<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Cafe Boheme</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Paul Taylor">
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="{{asset('theme/assets/plugins/bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{asset('theme/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('theme/assets/css/headers/header1.css')}}">
    <link rel="stylesheet" href="{{asset('theme/assets/css/responsive.css')}}">
    <link rel="shortcut icon" href="{{ asset('images/favicons/favicon.ico')}}">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{asset('theme/assets/plugins/font-awesome/css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{asset('theme/assets/plugins/flexslider/flexslider.css')}}">
    <link rel="stylesheet" href="{{asset('theme/assets/plugins/parallax-slider/css/parallax-slider.css')}}">
    <!-- CSS Theme -->
{#    <link rel="stylesheet" href="{{asset('theme/assets/css/themes/default.css')}}" id="style_color">#}
{#    <link rel="stylesheet" href="{{asset('theme/assets/css/themes/headers/default.css')}}" id="style_color-header-1">#}
    <link rel="stylesheet" href="{{asset('theme/assets/css/themes/light.css')}}" id="style_color">
    <link rel="stylesheet" href="{{asset('theme/assets/css/themes/headers/header1-light.css')}}" id="style_color-header-1">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
{% block stylesheets %}{% stylesheets 'css/*' %}{% endstylesheets %}{% endblock %}
{% block kitpages_cms_stylesheets %}{% endblock %}
</head>
<body>
{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION')%}
{% block kitpages_cms_toolbar %}{% endblock %}
<!--=== Style Switcher ===-->
<!--=== End Style Switcher ===-->
<!--=== Top ===-->
<div class="top">
    <div class="container">
        <ul class="loginbar pull-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="dropdown user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="username">{{ app.user.name }}</span>
                    <i class="icon-angle-down"></i>
                </a>
{#                          {{dump(app.user)}}#}
{#                          path('user_list', { 'id': user.id })#}
                <ul class="dropdown-menu">
                    <li><a href="{{ path('user_show', { 'id': app.user.id }) }}"><i class="icon-user"></i> My Profile</a></li>
                    <li><a href="{{ path('user_password') }}"><i class="icon-lock"></i> Change password</a></li>
                    {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="{{ path('user_list') }}"><i class="icon-tasks"></i> User List</a></li>
                    <li><a href="{{ path('user_new') }}"><i class="icon-envelope"></i> Register new user</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{{ path('meal') }}"><i class="icon-food"></i> Meals</a></li>
                    <li><a href="{{ path('wine') }}"><i class="icon-glass"></i> Wine</a></li>
                    <li><a href="{{ path('logout') }}"><i class="icon-key"></i> Log Out</a></li>
                </ul>
            </li>
            {% else %}
            <a href="{{ path('login') }}" class="login-btn">Login</a>
            {% endif %}
        </ul>
    </div>
</div><!--/top-->
<!--=== End Top ===-->
<!--=== Header ===-->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ path('boheme_cafe_homepage') }}" class="navbar-brand" >
                    <img id="logo-header" src="/image/bohemeLogo.png" alt="Logo">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="{{ path('boheme_cafe_homepage') }}" >Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Menu
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('boheme_cafe_foodpage') }}">Food</a></li>
                            <li><a href="{{ path('boheme_cafe_winepage') }}">Wine List</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('boheme_cafe_contact') }}" >Contact</a>
                    </li>
                    <li class="hidden-sm"><a class="search"><i class="icon-search search-btn"></i></a></li>
                </ul>
                <div class="search-open">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Go</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div><!-- /navbar-collapse -->
        </div>
    </div>
</div><!--/header-->
<!--=== End Header ===-->
<!--page content starts here-->
<h3 class="page-title">
    {% block pagetitle %}
    Dashboard <small>statistics and more</small>
    {% endblock %}
</h3>
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        <button class="close" data-dismiss="alert"></button>
        <i class="icon-ok-sign"></i>
        <strong>Success</strong> {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-info">
        <button class="close" data-dismiss="alert"></button>
        <i class="icon-info-sign"></i>
        <strong>Info</strong> {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-error">
        <button class="close" data-dismiss="alert"></button>
        <i class=" icon-exclamation-sign"></i>
        <strong>Error</strong> {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert">
        <button class="close" data-dismiss="alert"></button>
        <i class="icon-warning-sign"></i>
        <strong>Warning</strong> {{ flashMessage }}
    </div>
{% endfor %}
<!-- END PAGE HEADER-->
{% block body %}{% endblock %}
<!--=== Footer ===-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>About</h2></div>
                <p class="margin-bottom-25 md-margin-bottom-40">We want Café Boheme to feel like the perfect escape for our patrons. The sun-speckled front courtyard, coupled with the leafy surrounds of Kellett Street, creates a haven for the perfect morning coffee, a relaxed lunch or Sunday breakfast.  We look forward to giving Potts Point something new, and bringing the wonderful flavours of urban France to the locals.</p>
                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Monthly Newsletter</h2></div>
                <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                <form class="footer-subsribe">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Subscribe</button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div><!--/col-md-4-->
            <div class="col-md-4 md-margin-bottom-40">
                <div class="posts">
                </div>
            </div><!--/col-md-4-->
            <div class="col-md-4">
                <!-- Contact Us-->
                <div class="headline"><h2>Contact Us</h2></div>
                <address class="md-margin-bottom-40">
                    3 Kellet Street <br />
                    Potts Point, NSW  <br />
                    Phone: 02 9331 0102 <br />
                    Email: <a href="mailto:info@cafeboheme.com.au" class="">info@cafeboheme.com.au</a>
                </address>
                <!-- Stay Connected -->
                <div class="headline"><h2>Stay Connected</h2></div>
                <ul class="social-icons">
                    <li><a href="http://facebook.com/cafeboheme" target="_blank" data-original-title="Facebook" class="social_facebook"></a></li>
{#                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>#}
{#                    <li><a href="#" data-original-title="Google Plus" class="social_googleplus"></a></li>#}
                </ul>
            </div><!--/col-md-4-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/footer-->
<!--=== End Footer ===-->
<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright-space">
                    2013 &copy; Network IMS Pty Ltd. All Rights Reserved. Version {{ app_version }} (SF{{ version }})
                    <a href="#">Privacy Policy</a>
                </p>
            </div>
            <div class="col-md-6">
                <a href="{{ path('boheme_cafe_homepage') }}">
                    <img id="logo-footer" src="/image/bohemeLogo2.png" class="pull-right" alt="" />
                </a>
            </div>
        </div><!--/row-->
    </div><!--/container-->
</div><!--/copyright-->
<!--=== End Copyright ===-->
<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{asset('theme/assets/plugins/jquery-1.10.2.min.js')}}"></script>
<script type="text/javascript" src="{{asset('theme/assets/plugins/jquery-migrate-1.2.1.min.js')}}"></script>
<script type="text/javascript" src="{{asset('theme/assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{asset('theme/assets/plugins/hover-dropdown.min.js')}}"></script>
{#<script type="text/javascript" src="{{asset('theme/assets/plugins/back-to-top.js')}}"></script>#}
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{asset('theme/assets/plugins/flexslider/jquery.flexslider-min.js')}}"></script>
<script type="text/javascript" src="{{asset('theme/assets/plugins/parallax-slider/js/modernizr.js')}}"></script>
<script type="text/javascript" src="{{asset('theme/assets/plugins/parallax-slider/js/jquery.cslider.js')}}"></script>
<!-- JS Page Level -->
{% block javascripts %} {% endblock %}
<script type="text/javascript" src="{{asset('theme/assets/js/app.js')}}"></script>
<script type="text/javascript" src="{{asset('theme/assets/js/pages/index.js')}}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
<!--        App.initSliders();-->
<!--        Index.initParallaxSlider();-->
        {% block jqueryinit %} {% endblock %}
    });
</script>
{% block kitpages_cms_javascripts %}{% endblock %}
<!--[if lt IE 9]>
    <script src="{{asset('theme/assets/js/respond.js')}}"></script>
<![endif]-->
</body>
</html>